<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Iremia transkribiert deine Sprache, um dir in Panikmomenten zu helfen.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Iremia benötigt das Mikrofon für die Spracherkennung.</string>
</dict>
</plist>
